@import url("https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  font-family: "Parkinsans", serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
header {
  background-color: rgb(0, 0, 0);
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 999;
  width: 100%;
  padding: 20px 200px;
}
.logo {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
.navbar a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  margin-right: 35px;
  font-size: 18px;
  padding-bottom: 16px;
}
.navbar a:hover {
  color: rgb(180, 180, 180);
  transition: 0.5s;
  border-bottom: solid 2px white;
}
/*MainPage//////////////////////////*/
section {
  padding: 100px 200px;
}
.main {
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(92, 92, 92);
}
.my-img img {
  width: 350px;
  height: 50%;
  border-radius: 25%;
  pointer-events: none;
}
.section-one {
  display: inline-block;
}
.section-one h3 {
  color: rgb(255, 255, 255);
  margin-bottom: 25px;
}
.section-one h1 {
  margin-bottom: 18px;
  color: rgb(194, 194, 194);
  font-weight: 700;
  font-size: 35px;
}
.section-one h4 {
  margin-bottom: 35px;
  color: rgb(194, 194, 194);
  font-size: 20px;
}
.mywork {
  display: inline-block;
  text-decoration: none;
  padding: 15px 35px;
  background-color: rgb(0, 0, 151);
  border-radius: 20px;
  color: aliceblue;
}
.mywork:hover {
  background-color: blue;
  transform: scale(1.1);
}
.sochial-media {
  margin-top: 35px;
}
.sochial-media a {
  margin-left: 25px;
  font-size: 40px;
  color: rgb(0, 0, 0);
  transition: 1s;
}
.sochial-media a:hover {
  transform: scale(1.1);
}
#twitter:hover {
  color: rgb(68, 186, 255);
}
#facebook:hover {
  color: blue;
}
#linkdin:hover {
  color: rgb(0, 162, 255);
}
#instagram:hover {
  color: rgb(180, 115, 68);
}
/*Cards*/
#title-services {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  font-size: 30px;
  color: rgb(97, 97, 97);
}
.services {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 45px;
}
.card {
  width: 285px;
  background-color: azure;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
  padding: 40px;
  transition: 0.5s;
}
.card:hover {
  transform: scale(1.1);
}
.card-icons {
  text-align: center;
  color: black;
  font-size: 8rem;
}
.card-text h3 {
  color: rgb(97, 97, 97);
  text-align: center;
  padding-bottom: 15px;
}
.card-text p {
  font-width: 700;
  text-align: center;
}
/*Project*/
.Projects {
  background-color: rgb(97, 97, 97);
}
.title-section {
  text-align: center;
  margin-bottom: 25px;
  font-size: 30px;
  color: black;
}
.card-projects {
  border: 2px solid white;
  background-color: rgb(211, 211, 211);
  border-radius: 10px;
  overflow: hidden;
  width: 300px;
}
.img-projects img {
  width: 100%;
  height: 200px;
}
.img-projects img:hover {
  opacity: 0.9;
}
.info-projects {
  padding: 20px;
}
.projects-title {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
}
.projects-title a {
  font-size: 18px;
  color: rgb(97, 97, 97);
}
.projects-title a:hover {
  color: blue;
}
.projects-title h3 {
  font-weight: 700;
}
.info-projects p {
  font-size: 18px;
}
.content-projects {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 25px;
}
/*contact*/
.contact h1 {
  text-align: center;
  padding-bottom: 60px;
  font-size: 30px;
  color: rgb(97, 97, 97);
}
.all-cards-contact {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 45px;
}
.card-contact {
  background-color: white;
  text-align: center;
  display: grid;
  gap: 45px;
  border-radius: 35px;
  transition: 0.5s;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 45px;
  width: 300px;
}
.card-contact:hover {
  transform: scale(1.1);
}
.text-contact h3 {
  margin-bottom: 15px;
  font-size: 25px;
  color: rgb(65, 65, 65);
}
.text-contact h2 {
  color: darkgray;
}
.icons-contact {
  font-size: 7rem;
  text-align: center;
}
/*footer*/
.ft-end {
  background-color: black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 25px;
}
.copyright h5 {
  text-decoration: none;
  color: white;
}
.copyright {
  display: flex;
  gap: 25px;
}
.copyright a {
  text-decoration: none;
  color: rgb(134, 134, 134);
  transition: 0.5s;
}
.copyright a:hover {
  color: antiquewhite;
  transform: scale(1.1);
}
.ft-end h5 {
  color: white;
  font-size: 15px;
}
.ft-icons a {
  font-size: 20px;
  padding-right: 10px;
  color: grey;
}
